# Node / Angular
node_modules/
dist/
.angular/
*.log
npm-debug.log*

# Spring / Java
target/
*.class
*.jar
*.war
*.iml

# IDEs
.idea/
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / Config
.env

# Maven
.mvn/wrapper
